# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
scan/input_2_32.txt
scan/input_2_28.txt
scan/input_2_26.txt
scan/input_2_24.txt
scan/generateRandomNumbers.py
scan/scan
scan/scan_loop_carried
scan/scan_mpi
scan/scan_omp
sssp_dijkstra/sssp
sssp_dijkstra/sssp_omp
bitonicsort/speedup.txt
bitonicsort/times.txt
scan/speedup.txt
scan/times.txt
sssp_dijkstra/times.txt
bitonicsort/bitonic
bitonicsort/bitonic_mpi
bitonicsort/bitonic_omp
bitonicsort/input_2_12.txt
bitonicsort/input_2_16.txt
bitonicsort/input_2_18.txt
bitonicsort/input_2_21.txt
sssp_dijkstra/.vscode
sssp_dijkstra/graph_10.txt
